

/* carousel detail styling */


.carousel-image{
    margin: auto;
    padding: 2vw;
    display: block;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    top: 50%;


}

.vertical{
    padding: 0 10vw 0 10vw;
}

@media (min-width: 400px){
    .vertical{
        padding: 0 12vw 0 12vw;
    }
}

@media (min-width: 650px){
    .vertical{
        padding: 0 18vw 0 18vw;
    }
}

@media (min-width: 1000px){
    .vertical{
        padding: 0 15vw 0 15vw;
    }
}

@media (min-width: 1200px){
    .vertical{
        padding: 0 12vw 0 12vw;
    }
}