/* start page */

.start-image{
    width: 70vw;
    margin: auto;
    padding: 5vw
}

.start-vertical{
    padding: 5vw 10vw ; 
}

@media (min-width: 768px) {

    .start-image{
        padding: 2vw 5vw
    }

    .start-vertical{
        padding: 5vw 8vw;
    }

    .start-variation_1{
        padding: 5vw 12vw 5vw 9vw
    }
    
}

/* carousel detail styling */

.carousel-image{
    margin: auto;
    display: block;
    position: relative;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    top: 50%;
}

.vertical{
    padding: 0 10vw 0 10vw; 
    margin: 0em; /* fixes the bug that causes border-like lines popping from the sides */
}

/* about page (had to use css because of tailwind border bug) */

.about-text > p{
    border-top: 1px solid#727579;
}

.border-color-gray{
    border-color: rgba(128, 128, 128, 0.142); 
}

/* media queries */

@media (min-width: 400px){
    .carousel-image{
        padding: 0;
    }
    .vertical{
        padding: 0 12vw 0 12vw;
    }
}

@media (min-width: 650px){
    .vertical{
        padding: 0 18vw 0 18vw;
    }
}

@media (min-width: 1100px){
    .about-text > p{
        border-top: none !important;
        border-left: solid 1px #727579 !important;
    }
}


@media (min-width: 1022px){

    .vertical{
        padding: 0 15vw 0 15vw;
    }
}

@media (min-width: 1200px){
    .vertical{
        padding: 0 12vw 0 12vw;
    }
}

@media (min-width: 1400px){
    .vertical{
        padding: 0 9vw 0 9vw;
    }
}

